div{
    color: #EDE6DB;
    color: #FFE366;
    color: #CCAAE6;
    color: #ff24ab;
    color: #F4C430;
    color: #D56989;
    color: #8894B7;
    color: #ff4500;
    color: #6c6c6d;
    color: #FFA43A;
    color: #FEE4B8;
    color: #FFC065;
}
/* 
    <a href="https://storyset.com/work">Work illustrations by Storyset</a>
    <a target="_blank" href="https://icons8.com/icon/HS0qoeHy4RkQ/design">Design</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/i1DTRHrbIVcm/source-code">Source Code</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/P5ROoX4rxKSE/figma">Figma</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/JRnxU7ZWP4mi/postgresql">PostgreSQL</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/9nLaR5KFGjN0/mysql-logo">mysql</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/hsPbhkOH4FMe/node-js">nœud-js</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/kg46nzoJrmTR/express-js">express-js</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/13679/java">Java</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/108784/javascript">JavaScript</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/EAUyKy3IwmqM/html-5">Html 5</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/21278/css3">CSS3</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/123603/react-native">React Native</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/8rKdRqZFLurS/mongodb">MongoDB</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/EZQdGLNeo7JI/canva-app">application canva</a> icône par <a target="_blank" href="https://icons8.com">Icons8</a>

 */

div{
    color: #EEE5C2;
    color: #FAD564;
    color: #E37E7F;
    color: #E7D8C9;
}

